/* Mobile and Tablet */
@media (max-width:1023px) {

}

/* Tablet */
@media (min-width: 740px) and (max-width:1113px) {
    /* root */
    :root {
        --navi-width: 6.8rem;
    }

    /* logo */

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: var(--navi-width);
        padding: 1.5rem 0;
    }

    .logo .item-link {
        display: none;
    }

    .logo .logo-small {
        display: block;
        width: 4rem;
        height: 4rem;   
    }


    /* navigation */
    .navigation {
        width: var(--navi-width);
        overflow: hidden;
    }

    .navigation__item {
        padding: 1.5rem 2.5rem;
    }


    .navigation__middle-scroll {
        height: calc(100vh - var(--total-logo-height) - var(--nav-bottom-height) - 30rem - var(--player-height));
    }

    .navigation__bottom {
        width: var(--navi-width);
    }

    .navigation.action {
        width: var(--nav-width);
        z-index: 22220;
    }

    .navigation.action .item-text {
        display: inline-block;
    }

    .navigation.action .item-text-library {
        display: inline-block;
    }

    .navigation.action .navigation__bottom {
       width: var(--nav-width)
    }

    .navigation.action .logo .item-link {
        display: block;
    }

    .navigation.action .logo .logo-small {
        display: none;
    }

    .navigation.action .logo {
        justify-content: unset;
    }

    .navigation.action .navigation__middle-scroll {
        height: calc(100vh - var(--total-logo-height) - var(--nav-bottom-height) - 32.5rem - var(--player-height));
    }


    .navigation.action .bottom__btn-toggle {
        margin-left: auto!important;

    }

    .navigation.action .bottom__btn-toggle {
        margin: 0 1rem 0;

    }



    

    .bottom__btn-toggle {
        display: block;
        margin: auto;
    }

    .bottom__btn-toggle.active .btn-open {
        display: none;
    }

    .bottom__btn-toggle.active .btn-close {
        display: inline-block;
    }

    .bottom__btn {

    }
    
    .btn-close {
        display: none;
    }
    

    .item-text {
        display: none;
    }

    .navigation__banner {
        display: none;
    }

    .middle-title {
        visibility: hidden;
    }

    .item-text-library {
        display: none;
    }

    .navigation__bottom .item-link {
        display: none;
    }

    /* Header */
    .header {
        left: var(--navi-width)
    }
}

/* Mobile */
@media (max-width: 739px) {

}
